<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="scripts.js" href="scripts/scripts.js">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Upload Serial Number to M3</title>
    <style>
        body {background-color:#F9C642;}
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.csloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-top w3-left-align w3-large w3-theme">
          <a href="home.html" class="button is-primary is-outlined w3-bar-item w3-center-align w3-large w3-button w3-theme-l1 w3-hover-white" >Home Page</a>
      </div>
    </div>
{% block content %} {% endblock %}
</body>
</html>