{% extends 'base.html' %}

{% block content %}

<!-- Main Body -->
<div class = "container" style="height: inherit; width:40%; margin-top:7%; border-radius: 20px; padding: 15px; background-color:white">
    <h3 align="center" style="margin-top:1%"> Upload Serial Numbers to M3</h3>
    <hr>
    <div class = "container" position="relative" style="width: auto; height: auto; ">
        <form class ="login-form" action="/result/" method="POST" enctype="multipart/form-data">
            <div class="input-field" align="center">
                <h4>
                    File Type
                </h4>
                <dl>
                    <dt>
                        <label>
                            <input type="checkbox" id="file" checked="checked" name="checkbox" value="Continuous Gas Flow"/>
                            <span>Continuous Gas Flow</span>
                        </label>
                    </dt>
<!--                    <dt>-->
<!--                    <input type="radio" id="file2" name="radio" value="Storage Heaters">-->
<!--                    <label for="file2">Storage Heaters</label></dt>-->
                </dl>
            </div>

            <div class="file-field input-field" align="center">
                <h4>
                    Upload Excel Sheet
                </h4>
                <div class="btn" style="width:30%">
                    <span>Browse</span>
                    <input type="file" name="file" value="" required/>
                </div>
                <div class="file-path-wrapper">
                    <input class ="file-path validate" type="text" placeholder="Upload File" />
                </div>
            </div>
                 <button type="submit" id="submit-button" class="waves-effect waves-blue btn" value="Submit">Submit</button>
    </div>

        </form>
</div>

{% endblock %}